* {
  margin: 0px;
  padding: 0px;
}

.cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cadastro h1 {
  width: 158px;
  height: 37px;

  margin-top: 76px;

  cursor: default;

  border: none;

  white-space: nowrap;

  align-items: center;
  text-align: center;

  margin-bottom: 11px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;

  letter-spacing: -0.017em;

  color: rgba(0, 0, 0, 0.95);
}


.cadastro h2 {

  padding-left: 10px;
  margin-bottom: 2px;

  cursor: default;
  
  white-space: nowrap;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;

  letter-spacing: -0.017em;

  color: rgba(0, 0, 0, 0.95);
}

.cadastro input {
  width: 449px;
  height: 45px;
  margin-bottom: 30px;

  font-family: Ubuntu;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  padding: 21px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
}

.cadastro .disabled {
  width: 449px;
  height: 44px;

  background:#aac4ee;
  border-radius: 10px;

  cursor: auto;

  text-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.038em;
  
  color: #ffffff;
}

.cadastro .enter {
  width: 449px;
  height: 44px;

  background:#3071D9;
  border-radius: 10px;

  cursor: pointer;

  text-align: center;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.038em;
  
  color: #ffffff;
}

.cadastro .cadlogin {
  width: 449px;
  height: 44px;

  border: none;
  text-align: center;

  cursor:pointer;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  letter-spacing: 0.038em;

  background: #ffffff;
  border: 2px solid #4c4c4c;
  box-sizing: border-box;
  border-radius: 10px;

  color: #4c4c4c;
}

.cadastro h3 {
  margin-top: 46px;
  margin-bottom: 3px;
  font-family: Ubuntu;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  text-align: center;

  cursor: default;

  letter-spacing: -0.017em;

  color: rgba(0, 0, 0, 0.7);
}

.cadastro .comErro {
  position: fixed;
  width: 207px;
  height: 145px;
  left: 183px;
  bottom: 0;

  background: rgba(255, 0, 0, 0.15);
  border-radius: 23px 23px 0 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.cadastro .semErro{
  display: none;
}

.cadastro h4 {
  margin-top: 11px;
  margin-bottom: 15px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #4C4C4C;
  line-height: 118.9%;
}

.cadastro h5 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #4C4C4C;
  letter-spacing: -0.017em;
}
